@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-archivo: "Archivo Black", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-cursive: "Nothing You Could Do", cursive;
  --font-russo: "Russo One", sans-serif;
}

.nav-list {
  @apply after:duration-100 after:content-[''] after:block after:mt-0.5 after:w-0 hover:after:w-full after:h-0.5 after:bg-white dark:after:bg-slate-900;
}

/* ACTIVE CLASS */
.active {
  @apply bg-white dark:bg-slate-900 w-[95vw] top-4 left-[2vw] rounded-lg text-blue-500 font-semibold py-2 px-10 shadow-md;
}

.active .nav-list {
  @apply after:bg-blue-500!;
}

.active .btn {
  @apply bg-blue-500 text-white dark:text-slate-900 hover:bg-blue-600;
}

.active .btn-dark {
  @apply border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white dark:hover:text-slate-900;
}

/* DROPDOWN */
.dropdown{
    @apply z-10 absolute top-11 -left-4 px-3 bg-white rounded-md shadow-md dark:bg-slate-900 whitespace-nowrap;
}

.product-list{
    @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-slate-950;
}

.active .dropdown{
    @apply top-13;
}

/* SWIPER SLIDE */
.swiper-button-next, 
.swiper-button-prev {
  @apply !z-40 !absolute !top-1/2 !-translate-y-1/2 !w-10 !h-10 !text-blue-500 !bg-white dark:!bg-slate-900 hover:!scale-110 duration-300 !rounded-full !shadow-md after:!text-sm after:!font-bold;
}

.swiper-button-prev {
  @apply !-left-7;
}

.swiper-button-next {
  @apply !-right-7;
}

.swiper-pagination {
  @apply !relative !mt-8;
}

.swiper-pagination-bullet {
  @apply !bg-gray-300 dark:!bg-slate-900 !opacity-100;
}

.swiper-pagination-bullet-active {
  @apply !bg-blue-500;
}
 
.swiper-slide{
  @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-100 rounded-lg shadow-md p-3 mb-4 transition;
}

.team .swiper-slide{
  @apply hover:scale-105;
}

.testi .swiper-slide{
  @apply scale-90 opacity-60;
}

.testi .swiper-slide-next{
  @apply scale-110 z-20 opacity-100;
}

/* ACCORDION */ 
.accordion{
  @apply bg-slate-100 rounded-md shadow-md text-lg cursor-pointer dark:bg-slate-900 text-slate-900 dark:text-slate-100;
}

.accordion-header{
  @apply px-8 py-3 flex items-center justify-between;
}

.accordion-content{
  @apply px-10 overflow-hidden;
}

/* PRODUCT */
.circle {
  @apply w-14 h-14 bg-white dark:bg-slate-900 rounded-full flex justify-center items-center font-bold text-blue-500 text-2xl border-4 border-blue-500 z-1;
}

.line {
  @apply after:w-1 after:h-28 after:bg-blue-500 after:absolute after:top-12 after:-translate-x-1/2 after:left-1/2;
}

.product-btn {
  @apply flex mt-8 items-center duration-300 text-lg gap-2 font-medium hover:text-blue-500 border-2 border-white hover:bg-white rounded-md px-5 py-2 cursor-pointer dark:border-slate-900 dark:hover:bg-slate-900 dark:hover:text-blue-600;
}

.learn-flow {
  @apply flex flex-col gap-12 w-1/2;
}

.learn-point {
  @apply flex items-center gap-8;
}